.container {
    width: 375px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid green;
    margin-top: 15px;
    background-color: rgb(210, 154, 80);
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px;
}

h3 {
    font-size: large;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


}

img {
    margin-top: 20px;
    width: 60px;
    border-radius: 100px;
}

.details {
    display: flex;
    align-items: center;


}

.left {
    margin-right: 30px;
    margin-left: 20px
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

button {
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 5px 5px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;

}


@media screen and (max-width:850px ){
    .container{
        display: flex;
        align-items: center;
        /* justify-content: center; */
        margin-left: 5px;
        margin-right: 5px;
    }
}